@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Poppins",sans-serif; */
    font-family: "Roboto",sans-serif;
    position: relative;
    background: #141414;
    width: 100vw;
    overflow-x: hidden;
}

a,button{
    text-decoration: none;
    cursor: pointer;
    transition: .3s linear;
    color: #fff;
}

/* Navigation ---> */

nav{
    position: relative;
    width: 100%;
    height: 75px;
    padding: 0 3%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .05);
    left: 0;
    top: 0;
    z-index: -1;
}

nav .left,.right{
    display: flex;
    align-items: center;
}

nav .left .logo img{
    width: 120px;
}

nav .left ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav .left ul li {
    padding: 3px 10px;
}

nav .left ul li a{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .15px;
    color: rgb(255, 255,255,.5);
}

nav .left ul li a:hover{
    color: #fff;
}

nav .left ul li .a_active{
    color: white
}


/* Nav Right --> */

nav .right .search{
    display: flex;
    align-items: center;
    padding: 6px 10px 5px 10px;
    /* border: 2px solid rgb(255, 255, 255); */
    background: transparent;
    transition: 0.3s linear;
}

nav .right .search i {
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
    font-size: 22px;
}

nav .right input{
    /* width: 210px; */
    width: 0;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.3s linear;
}

nav .right input::placeholder{
    font-weight: 500;
    color: rgb(255, 255,255,.5);
}


/* ---------------- Js Code Panding */
nav .right .search.search_active input{
    width: 210px;
}

nav .right .search.search_active{
    border: 2px solid rgb(255, 255, 255);
}
/* Js code panding -------------------- */


nav .right .noti{
    margin: 0px 20px;
    position: relative;

}

nav .right .noti i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

nav .right .profile{
    margin-left: 15px;
}

nav .right .profile .profile-bx{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .right .profile .profile-bx i{
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    transition: .3s linear;
}

nav .right .profile .profile-bx img{
    border-radius: 5px;
}

nav .right .profile .profile-bx:hover i{
    transform: rotate(180deg);
}



/* Video Section Styling Start Here  ---------------------------> */


section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 99;
    background: linear-gradient(180deg,transparent,#141414);
}

section video{
    position: relative;
    width: 100%;
}


section .section-detail{
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 99;
    bottom: 22%;
    left: 4%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

section .section-detail .det-logo{
    width: 450px;
    transition: .3s linear;
}

section .section-detail .top-section{
    width: 96%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

section .section-detail .top-section .rank-bx{
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

section .section-detail .top-section .rank-bx{
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

section .section-detail .top-section .rank-bx .rank{
    padding: 5px;
    background: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    color: #fff;

}

section .section-detail .top-section .rank-bx .rank span {
    font-size: 13px;
    font-weight: 600;
}

section .section-detail .top-section .rank-bx .rank span:nth-child(2){
    margin-left: -5px;
}

section .section-detail .top-section .rank-bx h1{
    margin-left: 15px;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section .section-detail .top-section p{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
    line-height: normal;
    margin-top: 20px;
}

section .section-detail .top-section .play-mute{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section .section-detail .top-section .play-mute .play{
    display: flex;
    align-items: center;
}

section .section-detail .top-section .play-mute .play button{
    display: flex;
    align-items: center;
    padding: 0px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
}

section .section-detail .top-section .play-mute .play button i{
    font-size: 30px;
    margin-right: 5px;
}

section .section-detail .top-section .play-mute .play button:hover{
    background: rgb(255, 255,255,.5);
}

section .section-detail .top-section .play-mute .play button:nth-child(2){
    background: rgb(255, 255,255,.5);
}

section .section-detail .top-section .play-mute .play button:nth-child(2):hover{
    background: rgb(255, 255,255,.1);
}

section .section-detail .top-section .play-mute .play button:nth-child(2) i{
    margin-right: 10px;
}

section .section-detail .top-section .play-mute .mute{
    display: flex;
    align-items: center;
}

section .section-detail .top-section .play-mute .mute .mute-btn{
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
}

section .section-detail .top-section .play-mute .mute h6{
    background: rgb(255, 255,255,.5);
    padding: 8px 40px 8px 10px;
    font-size: 18px;
    border-left: 3px solid white;
    color: #fff;
    font-weight: 500;
    
}

/* Video Css Styling Section End ---> */







/* Scroll Movies Section Styling start here -------> */

.slide-main-box{
    width: 95%;
    margin: auto;
    position: relative;
    margin-top: 50px;
    height: 180px;
}

.slide-main-box-f{
    margin-top: -100px;
    z-index: 99;
}

.slide-main-box .heading-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-main-box .heading-button h1{
    font-size: 1.25rem;
    line-height: 1.25vw;
    color: #fff;
    margin-bottom: 20px;
}

.slide-main-box .heading-button .scroll-created-button{
    display: none;
    align-items: center;
}

.slide-main-box .heading-button .scroll-created-button div{
    width: 20px;
    height: 5px;
    background: rgb(184, 184, 184,.03);
    margin-right: 3px;
    cursor: pointer;
    transition: .3s linear;
}

.slide-main-box .heading-button .scroll-created-button div:hover{
    background: #fff;

}

.slide-main-box:hover .heading-button .scroll-created-button{
    display: flex;
}


/* Slide Design ---> */

.slide-main-box .slide{
    width: 100%;
    display: flex;
}

.slide-main-box .slide .card-box{
    position: relative;
    min-width: 19.5%;
    max-width: 19.5%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-main-box .slide .card-box .card{
    position: relative;
    height: auto;
    background: #414141;
    top: 0px;
    border-radius: 10px;
    transition: .3s linear;
}

.slide-main-box .slide .card-box .card{
    position: relative;
    height: auto;
    background: #1c1b1b;
    top: 0px;
    border-radius: 10px;
    transition: .3s linear;
}

.slide-main-box .slide .card-box .card .poster-video{
    width: 100%;
    position: relative;
}

.slide-main-box .slide .card-box .card .poster-video img{
    width: 100%;
    cursor: pointer;
}

.slide-main-box .slide .card-box .card .poster-video video{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s linear;
    transition-delay: .5s;
    opacity: 0;
    display: none;
}

.slide-main-box .slide .card-box .card .poster-video i{
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 99;
    padding: 5px 7px;
    color: rgb(255, 255,255,.6);
    font-size: 18px;
    border: 2px solid rgb(255, 255,255,.6);
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.slide-main-box .slide .card-box .card .poster-video .hover-logo{
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 35px;
    z-index: 99;
    display: none;
    opacity: 0;
    transition: .3s linear;
    transition-delay: .1s;
}

.slide-main-box .slide .card-box .card:hover{
    position: absolute;
    width: 150%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    z-index: 99;
    cursor: pointer;
    margin-top: -40%;
}

.slide-main-box .slide .card-box .card:hover img{
    border-radius: 10px 10px 0 0;
}

.slide-main-box .slide .card-box .card:hover video{
    opacity: 1;
    display: unset;
}

.slide-main-box .slide .card-box .card:hover i{
    opacity: 1;
    display: unset;
}

.slide-main-box .slide .card-box .card:hover .hover-logo{
    opacity: 1;
    display: unset;
    width: 40%;
}


.slide-main-box .slide .card-box .card .play-add-like-all{
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 10px;
    transition: .3s linear;
    display: none;
    opacity: 0;
}

.slide-main-box .slide .card-box .card .play-add-like-all i{
    cursor: pointer;
    font-size: 15px;
    border: 2px solid rgb(255, 255,255,.5);
    padding: 6px 8px;
    margin: 0px 5px;
    background: rgb(184, 184, 184,.5);
    position: relative;
    transition: .3s linear;
    border-radius: 50%;
}

.slide-main-box .slide .card-box .card .play-add-like-all i:hover{
    transform: rotate(360deg);
}

.slide-main-box .slide .card-box .card .play-add-like-all i:nth-child(2){
    font-size: 22px;
}

.slide-main-box .slide .card-box .card:hover .play-add-like-all{
    display: flex;
    opacity: 1;
}

.slide-main-box .slide .card-box .card .match-det{
    padding: 0px 20px;
    width: 100%;
    display: none;
    align-items: center;
    color: #fff;
    margin-top: 20px;
    opacity: 0;
    transition: .3s linear;
}

.slide-main-box .slide .card-box .card .match-det h1{
    all: unset;
    color: #46d369;
    font-size: 600;
}

.slide-main-box .slide .card-box .card .match-det h5{
    border: 1px solid #fff;
    padding: 0px 5px 1px 5px;
    margin: 0 8px;
}

.slide-main-box .slide .card-box .card .match-det h6{
    color: grey;
    font-size: 13px;
}

.slide-main-box .slide .card-box .card .match-det span{
    font-size: 13px;
    font-weight: 600;
    border: 1px solid white;
    padding: 1px 5px;
    border-radius: 5px;
    margin-left: 8px;
}

.slide-main-box .slide .card-box .card:hover .match-det{
    display: flex;
    opacity: 1;
}

.slide-main-box .slide .card-box .card .genre{
    padding: 0px 20px;
    width: 100%;
    display: none;
    opacity: 0;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    margin: 15px 0;
    transition: .3 linear;
}

.slide-main-box .slide .card-box .card .genre li{
    margin-right: 20px;
    font-size: 13px;
    margin-top: 5px;
}

.slide-main-box .slide .card-box .card .genre li::marker{
    color: rgb(184, 184, 184,.4);
}

.slide-main-box .slide .card-box .card:hover .genre{
    display: flex;
    opacity: 1;
}

.slide-main-box button{
    position: absolute;
    top: 40px;
    left: -3%;
    height: 160px;
    z-index: 99;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    box-shadow: 0 0 20px rgb(0, 0, 0, .1);
    font-size: 22px;
}

.slide-main-box button::before{
    position: absolute;
    content : '';
    height: 100%;
    width: 100%;
    border-radius: 0px 10px 10px 0;
    background:  rgb(184, 184, 184,.1);
    top: 0;
    left: 0; 
}

.slide-main-box button:nth-child(3){
    left: unset;
    right: -1.5%;
}

.slide-main-box button:nth-child(3)::before{
    border-radius: 10px 0 0 10px;
    
}


/* top 10 movies Section Styling Start Here ----------> */


.slide-main-box .top10 .card-box .card .img-svg{
    width: 100%;
    display: flex;
    justify-content: space-between;
} 


.slide-main-box .top10 .card-box .card .img-svg svg{
    width: 50%;
    height: 170px;
}

.slide-main-box .top10 .card-box .card .img-svg img{
    width: 50% !important;
}

.slide-main-box .top10 .card-box .card:hover .img-svg{
    overflow: hidden;
}

.slide-main-box .top10 .card-box .card:hover .img-svg svg{
    display: none;
}

.slide-main-box .top10 .card-box .card:hover .img-svg img{
    width: 40% !important;
}

.slide-main-box .top10 .card-box .card:hover .play-add-like-all{
    margin-top: 30px;
}


/* Video Detail Section Styling Start Here -----> */

.video-details-main{
    width: 100%;
    height: 100vh;
    position: fixed;
    /* background: red; */
    z-index: 999;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-details-main .video-details{
    width: 55%;
    height: 97%;
    background: #181818;
    border-radius: 10px;
    margin-top: 3%;
    overflow-y: auto;
    padding-bottom: 50px;
}

.video-details-main .video-details::-webkit-scrollbar{
    display: none;
}

.video-details-main .video-details .video-img{
    width: 100%;
    position: relative;
    height: 60%;
    overflow: hidden;
}

.video-details-main .video-details .video-img::before{
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,transparent,#181818);
}

.video-details-main .video-details .video-img video{
    width: 100%;  
}

.video-details-main .video-details .video-img img{
    width: 100%;
}

.video-details-main .video-details .video-img .bi-x{
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 35px;
    background: #181818;
    border-radius: 50%;
    padding: 0px 4px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 20px rgb(0,0,0,.5));
    transition: .3s linear;
}

.video-details-main .video-details .video-img .logo-control{
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    padding: 0px 4%;
}

.video-details-main .video-details .video-img .logo-control img{
    width: 230px;
    margin-bottom: 40px;
}

.video-details-main .video-details .video-img .logo-control .controle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-details-main .video-details .video-img .logo-control .controle .play{
    display: flex;
    align-items: center;
    z-index: 9999;
    position: relative;
}

.video-details-main .video-details .video-img .logo-control .controle .play button{
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
    margin-right: 5px;
}

.video-details-main .video-details .video-img .logo-control .controle .play button i{
    font-size: 28px !important;
    margin-right: 5px;
    margin-top: 2px;
    color: #000;
}

.video-details-main .video-details .video-img .logo-control .controle .play i{
    font-size: 16px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255,.5);
    cursor: pointer;
    border-radius: 50%;
    padding: 6px 8px;
    margin: 0px 5px;
    background: rgb(184, 184, 184,.5);
    position: relative;
    transition: .3s linear;
}

.video-details-main .video-details .video-img .logo-control .controle .play i:nth-child(2){
    font-size: 32px !important;
    padding: 2px 5px;
}

.video-details-main .video-details .video-img .logo-control .controle .play i:nth-child(3){
    font-size: 20px !important;
    padding: 9px 11px;
}

.video-details-main .video-details .video-img .logo-control .controle .play i:nth-child(1){
    font-size: 20px !important;
    padding: 9px 11px;
    border-radius: unset !important;
    padding: unset !important;
    border: unset !important;
    background: unset !important;
    margin: unset !important;
}

.video-details-main .video-details .video-img .logo-control .controle .bi-volume-up-fill{
    cursor: pointer;
    font-size: 23px;
    border: 2px solid rgb(255, 255,255,.5);
    border-radius: 50%;
    color: #fff;
    padding: 7px 10px;
    margin: 0px 5px;
    background: rgb(184, 184, 184,.5);
    transition: .3 linear;
}

/* Top Content Styling --> */

.video-details-main .video-details .top-content{
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
}

.video-details-main .video-details .top-content .left , .right{
    width: 40%;
}

.video-details-main .video-details .top-content .left{
    width: 50%;
}

.video-details-main .video-details .top-content .left .match{
    display: flex;
    align-items: center;
}

.video-details-main .video-details .top-content .left .match h1{
    font-size: 15px;
    color: #46d369;
}

.video-details-main .video-details .top-content .left .match h6{
    font-size: 14px;
    color: rgb(255, 255,255,.5);
    margin: 0 5px;
}

.video-details-main .video-details .top-content .left .match span{
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 1px 5px;
    color: #fff;
    margin-left: 5px;
}

.video-details-main .video-details .top-content .left .cate{
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.video-details-main .video-details .top-content .left .cate h5{
    display: inline;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 1px 5px;
    color: #fff;
    margin-right: 5px;
}

.video-details-main .video-details .top-content .left .cate h4{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
}

.video-details-main .video-details .top-content .left p{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-top: 40px;
    letter-spacing: .5px;
    word-break: break-all;
    line-height: 17.5px;
}

.video-details-main .video-details .top-content .right{
    display: unset;
    padding-left: 3%;
}

.video-details-main .video-details .top-content .right .card{
    margin-top: 10px;
}

.video-details-main .video-details .top-content .right .card span{
    color: rgb(255, 255, 255,.2);
    font-size: 14px;
}

.video-details-main .video-details .top-content .right .card a{
    font-size: 13px;
    font-weight: 400;
}

.video-details-main .video-details  .only-for-series{
    width: 90%;
    margin: auto;
    margin-top: 30px;  
}

.video-details-main .video-details  .only-for-series .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-details-main .video-details  .only-for-series .heading h1{
    color: #fff;
    font-size: 25px;
}

.video-details-main .video-details  .only-for-series .heading .select-season{
    position: relative;
}

.video-details-main .video-details  .only-for-series .heading .select-season button{
    background: transparent;
    border: 2px solid #fff;
    padding: 8px 45px 8px 20px;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.video-details-main .video-details  .only-for-series .heading .select-season button i{
    margin-left: 15px;
    position: absolute;
    transition: .3s linear;  
}

.video-details-main .video-details  .only-for-series .heading .select-season .options{
    border: 1px solid #fff;
    position: absolute;
    width: 250px;
    right: 0;
    top: 120%;
    background: rgb(184, 184, 184,.1);
    color: #fff;
    padding: 20px;
    display: none; 
}

.video-details-main .video-details  .only-for-series .heading .select-season .options h4{
    font-size: 15px;
    padding-bottom: 20px;
    cursor: pointer;
}

.video-details-main .video-details  .only-for-series .heading .select-season .options h4:nth-last-child{
    font-size: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.video-details-main .video-details  .only-for-series .seasions{
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
}

.video-details-main .video-details  .only-for-series .seasions h3 span:nth-child(1){
    border: 1px solid #fff;
    padding: 0px 5px;
}

.video-details-main .video-details  .only-for-series .seasions h3 span:nth-child(2){
    font-weight: 400;
    margin-left: 5px;
}

.video-details-main .video-details  .only-for-series .seasions .cards{
    width: 100%;
    margin-top: 30px;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1ps solid rgb(184, 184, 184,.1);
    padding-bottom: 30px;
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 20px;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .img{
    position: relative;
    width: 250px;
    height: auto;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .img img{
    width: 100%;
    border: 8px;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .img i{
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 20px;
    background: rgb(255, 255, 255,.2);
    cursor: pointer;
    opacity: 0;
    transition: .3s linear;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card:hover .img i{
    opacity: 1;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .content{
    width: 100%;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .content .name-time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .content .name-time h6{
    font-size: 16px;
    font-weight: 400;
}

.video-details-main .video-details  .only-for-series .seasions .cards .ses-card .content p{
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255,.8);
    margin-top: 10px;
}

/* -------------> */

.video-details-main .video-details .more-like-this{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.video-details-main .video-details .more-like-this h1{
    color: #fff;
    font-size: 18px;
}

.video-details-main .video-details .more-like-this .cards{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-details-main .video-details .more-like-this .cards .card{
    width: 32%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(184, 184, 184,.1);
    cursor: pointer;
    margin-top: 15px;
}

.video-details-main .video-details .more-like-this .cards .card .img-time{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-details-main .video-details .more-like-this .cards .card .img-time img{
    width: 100%;
}

.video-details-main .video-details .more-like-this .cards .card .img-time i{
    position: absolute;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 20px;
    background: rgb(184, 184, 184,.2);
    cursor: pointer;
    opacity: 0;
    transition: .3s linear;
}

.video-details-main .video-details .more-like-this .cards .card:hover .img-time i{
    opacity: 1;
}

.video-details-main .video-details .more-like-this .cards .card .img-time h6{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

/* ----> */

.video-details-main .video-details .more-like-this .cards .card .content{
    width: 100%;
    padding: 10px 15px;
}

.video-details-main .video-details .more-like-this .cards .card .content .match-add{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-details-main .video-details .more-like-this .cards .card .content .match-add h5{
    color: #46d369;
    font-size: 16px;
}

.video-details-main .video-details .more-like-this .cards .card .content .match-add .cate-year{
    display: flex;
    align-items: center;
}

.video-details-main .video-details .more-like-this .cards .card .content .match-add .cate-year h6{
    color: rgb(255, 255,255,.7);
    margin-top: 5px;
    font-size: 13px;
}

.video-details-main .video-details .more-like-this .cards .card .content .match-add .cate-year h6:nth-child(1){
    border: 1px solid rgb(255, 255,255,.7);
    padding: 2px 5px;
    margin-right: 5px;
}

.video-details-main .video-details .more-like-this .cards .card .content .match-add .add i{
    cursor: pointer;
    font-size: 20px !important;
    border: 2px solid rgb(255, 255,255,.5);
    border-radius: 50%;
    padding: 3px 5px;
    margin: 0px 5px;
    color: #fff;
    background: rgb(184, 184, 184,.5);
}

.video-details-main .video-details .more-like-this .cards .card p{
    font-size: 12px;
    padding: 0px 15px;
    color: #fff;
    padding-bottom: 15px;
    word-break: break-all;
}
