@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Poppins",sans-serif; */
    font-family: "Roboto",sans-serif;
    position: relative;
    background: #141414;
    width: 100vw;
    overflow-x: hidden;
}

a,button{
    text-decoration: none;
    cursor: pointer;
    transition: .3s linear;
    color: #fff;
}

/* Navigation ---> */

nav{
    position: relative;
    width: 100%;
    height: 75px;
    padding: 0 3%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .05);
    left: 0;
    top: 0;
    z-index: -1;
}

nav .left,.right{
    display: flex;
    align-items: center;
}

nav .left .logo img{
    width: 120px;
}

nav .left ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav .left ul li {
    padding: 3px 10px;
}

nav .left ul li a{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .15px;
    color: rgb(255, 255,255,.5);
}

nav .left ul li a:hover{
    color: #fff;
}

nav .left ul li .a_active{
    color: white
}


/* Nav Right --> */

nav .right .search{
    display: flex;
    align-items: center;
    padding: 6px 10px 5px 10px;
    /* border: 2px solid rgb(255, 255, 255); */
    background: transparent;
    transition: 0.3s linear;
}

nav .right .search i {
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
    font-size: 22px;
}

nav .right input{
    /* width: 210px; */
    width: 0;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.3s linear;
}

nav .right input::placeholder{
    font-weight: 500;
    color: rgb(255, 255,255,.5);
}


/* ---------------- Js Code Panding */
nav .right .search.search_active input{
    width: 210px;
}

nav .right .search.search_active{
    border: 2px solid rgb(255, 255, 255);
}
/* Js code panding -------------------- */


nav .right .noti{
    margin: 0px 20px;
    position: relative;

}

nav .right .noti i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

nav .right .profile{
    margin-left: 15px;
}

nav .right .profile .profile-bx{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .right .profile .profile-bx i{
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    transition: .3s linear;
}

nav .right .profile .profile-bx img{
    border-radius: 5px;
}

nav .right .profile .profile-bx:hover i{
    transform: rotate(180deg);
}



/* Video Section Styling Start Here  ---------------------------> */


section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 99;
    background: linear-gradient(180deg,transparent,#141414);
}

section video{
    position: relative;
    width: 100%;
}


section .section-detail{
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 99;
    bottom: 22%;
    left: 4%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

section .section-detail .det-logo{
    width: 450px;
    transition: .3s linear;
}

section .section-detail .top-section{
    width: 96%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

section .section-detail .top-section .rank-bx{
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

section .section-detail .top-section .rank-bx{
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

section .section-detail .top-section .rank-bx .rank{
    padding: 5px;
    background: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    color: #fff;

}

section .section-detail .top-section .rank-bx .rank span {
    font-size: 13px;
    font-weight: 600;
}

section .section-detail .top-section .rank-bx .rank span:nth-child(2){
    margin-left: -5px;
}

section .section-detail .top-section .rank-bx h1{
    margin-left: 15px;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section .section-detail .top-section p{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
    line-height: normal;
    margin-top: 20px;
}

section .section-detail .top-section .play-mute{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section .section-detail .top-section .play-mute .play{
    display: flex;
    align-items: center;
}

section .section-detail .top-section .play-mute .play button{
    display: flex;
    align-items: center;
    padding: 0px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
}

section .section-detail .top-section .play-mute .play button i{
    font-size: 30px;
    margin-right: 5px;
}

section .section-detail .top-section .play-mute .play button:hover{
    background: rgb(255, 255,255,.5);
}

section .section-detail .top-section .play-mute .play button:nth-child(2){
    background: rgb(255, 255,255,.5);
}

section .section-detail .top-section .play-mute .play button:nth-child(2):hover{
    background: rgb(255, 255,255,.1);
}

section .section-detail .top-section .play-mute .play button:nth-child(2) i{
    margin-right: 10px;
}

section .section-detail .top-section .play-mute .mute{
    display: flex;
    align-items: center;
}

section .section-detail .top-section .play-mute .mute .mute-btn{
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
}

section .section-detail .top-section .play-mute .mute h6{
    background: rgb(255, 255,255,.5);
    padding: 8px 40px 8px 10px;
    font-size: 18px;
    border-left: 3px solid white;
    color: #fff;
    font-weight: 500;
    
}

/* Video Css Styling Section End ---> */